Checks: |
  clang-diagnostic-*,
  clang-analyzer-*,
  performance-*,
  portability-*,
  bugprone-*,
  cppcoreguidelines-*,
  -*avoid-c-arrays,
  -*avoid-magic-numbers,
  -*avoid-unchecked-container-access,
  -*array-to-pointer-decay,
  -*constant-array-index,
  -*easily-swappable-parameters,
  -*enum-size,
  -*owning-memory,
  -*signed-char-misuse,
  -*switch-missing-default-case,
  -*avoid-non-const-global-variables,
  -*non-private-member-variables-in-classes,
  -*pro-bounds-pointer-arithmetic,
  -*pro-type-vararg'
WarningsAsErrors: ''
HeaderFilterRegex: ''
UseColor : true
FormatStyle: 'none'